header {
  margin-top: 100px;
  height: 400px;
  width: 100%;
  background: rgb(120, 107, 150);
}
header div {
  display: flex;
  justify-content: center;
}
header div img {
  background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
}
@media only screen and (min-width: 1024px) {
  .profile-header {
    margin: 150px 0 0 50px;
    height: 350px;
    width: 33.3%;
  }

}
