/* error msg class, new-tweet section class hidden */
.hidden {
  display: none;
}
.new-tweet {
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.error-msg {
  width: 100%;
  margin-bottom: 10px;
  color: red;
  border: 2px solid red;
}
.new-tweet-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.new-tweet-form div {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
.new-tweet-form textarea {
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
}
.new-tweet-form button {
  color: #f4f1ec;
  font-weight: bold;
  background-color: #4056A1;
}
.tweet-too-long {
  color: red;
}
